{% extends "base.html" %}

{% block title %}Post {{ post.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        {% if post.imageUrl != None %}
        <div class="image-container text-center mb-3">
            <img src="{{post.imageUrl}}" class="img-fluid rounded" alt="post image">
        </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <div class="d-flex justify-content-between">
            <div class="rating">
                <span class="likes">Likes: {{post.likes}}</span>
                 |
                <span class="dislikes">Dislikes: {{post.dislikes}}</span>
            </div>
            <div class="actions">
                <a href="{{ url_for('likePost', post_id=post.id) }}" class="btn btn-success">Like</a>
                <a href="{{ url_for('dislikePost', post_id=post.id) }}" class="btn btn-danger">Dislike</a>
            </div>
        </div>
    </div>
    <div class="row px-3">
        <div class="col-md-12">
            <p>{{ post.content }}</p>
        </div>
    </div>
    {% if post.comments != [] %}
    <div class="row">
        <div class="d-flex justify-content-between mb-2">
            <h3>Comments</h3>
            <button class="btn btn-primary" id="addButton" onclick="showHideCommentForm()">Add a comment</button>
        </div>
        <form action="{{ url_for('commentPost', post_id=post.id) }}" method="post" id="newComment" class="d-none mb-3">
            <div class="card">
                <div class="card-header">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>
                <div class="card-body">
                    <input type="text" class="form-control card-title" name="name" id="name" placeholder="Name">
                    <textarea class="form-control card-text" name="content" id="content" placeholder="Content"></textarea>
                    {% for error in errors %}
                        <p class="text-danger"> {{error.message}}</p>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary mt-2">Save</button>
                </div>
            </div>
        </form>
        <div class="comments">
            {% for comment in post.comments %}
                <div class="card mb-2">
                    <div class="card-header">
                        {{ comment.email }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.name }}</h5>
                        <p class="card-text">{{ comment.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block script %}
<script>
    function showHideCommentForm() {
        var newComment = document.getElementById('newComment')
        var addButton = document.getElementById('addButton')
        if (newComment.classList.contains('d-none')) {
            newComment.classList.remove('d-none');
            addButton.innerText = 'Cancel'
            addButton.classList.add('btn-danger')
            addButton.classList.remove('btn-primary')
        } else {
            newComment.classList.add('d-none');
            addButton.innerText = 'Add a comment'
            addButton.classList.remove('btn-danger')
            addButton.classList.add('btn-primary')
        }
    }
</script>
{% endblock %}