{% extends "base.html" %}

{% block title %}Post {{ post.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        {% if post.imageUrl != None %}
        <div class="image-container text-center mb-3">
            <img src="{{post.imageUrl}}" class="img-fluid rounded" alt="post image">
        </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
    </div>
    <div class="row px-3">
        <div class="col-md-12">
            <p>{{ post.content }}</p>
        </div>
    </div>
{% endblock %}